<div class="register-form">
  <h3 class="text-center">注册</h3>
  <form id="register-form" method="post" action="/users/register" data-parsley-validate>
      <div class="form-group">
          <input class="form-input" type="text" id="register-name" name="name" placeholder="昵称" required="" data-parsley-minlength="5" data-parsley-maxlength="16"/>
      </div>
      <div class="form-group">
          <input class="form-input" type="text" id="register-username" name="username" placeholder="用户名" required="" data-parsley-minlength="5" data-parsley-maxlength="16"/>
      </div>
      <div class="form-group">
          <input class="form-input" type="email" id="register-username" name="email" placeholder="邮箱" required="" data-parsley-minlength="5" data-parsley-maxlength="16"/>
      </div>
      <div class="form-group">
          <input class="form-input" type="password" id="register-password" name="password" placeholder="密码" required="" data-parsley-minlength="5" data-parsley-maxlength="16"/>
      </div>
      <div class="form-group">
          <input class="form-input" type="password" id="register-password2" name="password2" placeholder="确认密码" required="" data-parsley-minlength="5" data-parsley-maxlength="16" data-parsley-equalto="#register-password"/>
      </div>
      <div class="form-group">
          <button class="btn btn-primary" type="submit">登陆</button>
      </div>
  </form>
</div>
