@import '../common/style/variables.scss';

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-h;
  line-height: $header-h;
  background: $color01;
  color: #fff;
  .cursor{
    &:hover{
      background: darken($color01,5%);
      transition: all 0.1s;
    }
  }
}

.header-left{
  width: $aside-w;
  background: darken($color01,5%);
  padding-left: 20px;
  .logo{
    font-size: 20px;
  }
  .setup{
    padding: 0 10px;
    font-size: 14px;
  }
}

.header-right{
  width: 100%;
  padding-left: $aside-w;
  .search{
    padding: 10px;
    width: 250px;
    input{
      border: none;
    }
  }
  .account{
    padding-right: 20px;
    font-size: 14px;
    .float-left{
      position: relative;
      margin-left: 20px;
      padding: 0 10px;
      line-height: 50px;
    }
    .avatar{
      margin-right: 5px;
    }
  }
  .redDot{
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 5px;
    width: 8px;
    height: 8px;
    background: red;
    border: 1px solid #fff;
    border-radius: 10px;
  }
}
