<div class="login-form">
  <h3 class="text-center">登陆</h3>
  <form id="login-form" method="post" action="/account/login" data-parsley-validate>
      <div class="form-group">
          <input class="form-input" type="text" id="login-username" name="username" placeholder="用户名" required="" data-parsley-minlength="5" data-parsley-maxlength="16"/>
      </div>
      <div class="form-group">
          <input class="form-input" type="password" id="login-password" name="password" placeholder="密码" required="" data-parsley-minlength="5" data-parsley-maxlength="16"/>
      </div>
      <div class="form-group">
          <button class="btn btn-primary" type="submit">登陆</button>
      </div>
  </form>
</div>
