ul{
  margin: 0;
  padding: 0;
  li{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

.warning-info{
  position: absolute;
  z-index: 99;
  max-width: 400px;
  top: 20px;
  right: 20px;
}

.parsley-errors-list{
  margin: 0;
  li{
    list-style: none
  }
}

.has-success{
  .parsley-errors-list{
    color: #32b643
  }
}

.has-danger{
  .parsley-errors-list{
    color: #e85600
  }
}

.cursor{
  cursor: pointer;
}
