.warning-info{
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  background: #5764c6;
  color: #fff
}

.parsley-errors-list{
  margin: 0;
  li{
    list-style: none
  }
}

.has-success{
  .parsley-errors-list{
    color: #32b643
  }
}

.has-danger{
  .parsley-errors-list{
    color: #e85600
  }
}
